<ion-view view-title="Landing" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="showNotifications()">
            <div class="seapoc-badge-wrap">
                <i class="fa ion-ios-email"> </i>
            </div>
        </button>
    </ion-nav-buttons>
    <ion-content class="bg-blur" has-header="true" overflow-scroll="false" ng-cloak>
        <div class="row">
            <div class="col card" touch-active target-child="thing">
                <h1 class="thing">Landing Page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis laboriosam est velit harum, maxime, nemo quaerat, hic labore natus quibusdam voluptate deleniti nobis suscipit expedita voluptates voluptatibus magni eos at!</p>
                <p>Fuga, a, quidem. Dicta voluptatibus nulla eligendi cumque necessitatibus sit voluptatem deserunt corrupti error officia aliquid vitae nisi culpa explicabo, aut accusantium dolor repellat, cupiditate tempora minus, ab tenetur nam?</p>
                <p>Unde reiciendis cum recusandae odit, ullam eum ut autem distinctio debitis minus voluptate culpa cumque eos et quam aspernatur adipisci iste voluptatibus! Voluptas, nam, fuga! Voluptas voluptates fugit eius cumque.</p>
            </div>
        </div>
        <div class="row">
            <div class="col list">
                <a class="item" ui-sref="app.tabpage">Test 1</a>
                <a class="item" ui-sref="app.tabpage">Test 2</a>
                <a class="item" ui-sref="app.tabpage">Test 3</a>
                <a class="item" ui-sref="app.tabpage">Test 4</a>
                <a class="item" ui-sref="app.tabpage">Test 5</a>
            </div>
        </div>
    </ion-content>
</ion-view>
