$vfOrange : #FF9400;
$vfIconColor: #E95306;
$vfBlue: #3587c4;

$navigationButtonTop: 0px; 

$warning-color: #EB3B18;
$notification-color: $vfBlue;

/* Badges*/

$badge-icon-color: $vfOrange; 
$badge-icon-background-color: $vfBlue;
$badge-icon-count-color: #FFF;
 
$regular-font: "Helvetica"; /* Dont think this is used that much anymore. */   