$side-menu-background-color: #FF9900;
.side-bar-content {
    background-color: $side-menu-background-color;
    .sea-side-bar {
        background-color: $side-menu-background-color;
        .list,
        .list > .item {
            font-size: 14px;
            background-color: $side-menu-background-color;
            border-color: rgba(255, 255, 255, 0.1);
        }
        a,
        item,
        .item {
            background-color: $side-menu-background-color;
            color: #FFF;
            text-decoration: none;
        }
        a,
        .item {
            &.active > .item,
            &.active > a {
                background-color: white;
                color: #FF9400;
            }
        }
        i.ion {
            margin-right: 5px;
        }
        .country-flag-container img {
            width: 64px;
        }
    }
}
