<ion-view view-title="Subpage 2" hide-back-button="true">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content class="bg-blur" has-header="true" overflow-scroll="false" ng-cloak>
        <div class="row">
            <div class="col card">
                <h1> Subpage 2</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, enim illo a eum culpa error alias commodi repellat voluptatibus in impedit magnam sed nihil officia itaque distinctio, explicabo magni natus.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
